<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PadronAFIP.Configuracion" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PadronAFIP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <PadronAFIP.Configuracion>
            <setting name="NombreTicket" serializeAs="String">
                <value />
            </setting>
        </PadronAFIP.Configuracion>
        <PadronAFIP.Properties.Settings>
            <setting name="PadronAFIP_AFIP_WSAA_LoginCMSService" serializeAs="String">
                <value>https://wsaa.afip.gov.ar/ws/services/LoginCms</value>
            </setting>
            <setting name="PadronAFIP_PadronA13_PersonaServiceA13" serializeAs="String">
                <value>https://aws.afip.gov.ar/sr-padron/webservices/personaServiceA13</value>
            </setting>
            <setting name="PadronAFIP_ar_gov_afip_aws_PersonaServiceA5" serializeAs="String">
                <value>https://aws.afip.gov.ar/sr-padron/webservices/personaServiceA5</value>
            </setting>
        </PadronAFIP.Properties.Settings>
    </applicationSettings>
</configuration>